<form action="/articles" method="POST">
<label for="title">Title:</label>
<input id="title" type="text" name="title">
<label for="content">Content:</label>
<input id="content" type="text" name="content">
<lable for="image">Image URL:</lable>
<input id="image" type="text" name="img_url">
<input type="submit" value="publish">
</form>