<form class="form" action="/articles" method="POST">
	<label for="title">Title:</label>
	<textarea id="title" name="title"></textarea>
	<label for="content">Content:</label>
	<textarea id="content" name="content"></textarea>
	<lable for="image">Image URL:</lable>
	<textarea id="image" name="img_url"></textarea>
	<label for="category">Create a New Category:</label>
	<input id="category" type="text" name="category">
	<label for="category-drop">Or Choose From an Already Existing Category:</label>
	<select id="category-drop" name="drop_down">
		<option value="" disabled selected>Select</option>
		<% @categories.each do |category| %>
		<option value="<%=category.name%>"><%=category.name.capitalize%></option>
		<%end%>
	</select>
	<input type="submit" value="publish">
</form>