<div class="edit-article-form">
	<form id="edit-form" action="/articles/<%=@article['id']%>" method="POST">
		<input type="hidden" name="_method" value="patch">
		<label for="title">Title:</label>
		<textarea class="textarea" id="title" name="title"><%=@article['title']%></textarea>
		</br>
		<label for="content">Content:</label>
		<textarea autofocus class="textarea" rows="60" cols="20" id="content" name="content"><%=@article['content']%></textarea>
		</br>
		<label for="image">Image URL:</label>
		<textarea class="textarea" cols="50" id="image" name="img_url"><%=@article['img_url']%></textarea>
		</br>
		<input type="submit" value="Update">
	</form>
</div>
