<!DOCTYPE html>
<html>
<head>
	<title>WikiNutrition</title>
	<link rel="stylesheet" type="text/css" href="/style.css">
	<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.js"></script>
	<script type="text/javascript" src="/main.js"></script>
</head>
	<body>
		<ul class="navbar">
			<li><a href="/">Home</a></li>
			<li><a href="/articles">Articles</a></li>
			<li><a href="/articles/recent">Recently Updated</a></li>
			<li><a href="/login">Log In</a></li>
			<li><a href="/articles/new">Publish</a></li>
			<li><a href="/users/new">Join!</a></li>
		</ul>
		<div class="spacer"></div>
		

		<%=yield%>
	</body>
</html>