<form action="/sessions" method="POST">
<label for="user">Username:</label>
<input id="user" name="user_name" type="text">
<label for="password">Password:</label>
<input id="password" name="password" type="password">
<input type="submit" value="Log In!">
</form>

<h3>If you don't already have a username and password please <a href="/users/new">join us!</a></h3>