<div class="landing-page">
	<div class="landing-page-square">
		<div class="landing-page-content">
			<h1  id="welcome">Welcome to WikiNutrition</h1>
			<h4 id="slogan"><em>Where the World of Food and Science Combine.</em></h4>
			<a id="article-link" href="/articles">Articles</a>
			<h4>Please <a href="/login">Sign In</a> or <a href="/users/new">Join</a> to publish and edit articles</h4>
		<div><!--end of landing-page-content div -->
	</div><!--end of landing-page-square div-->
</div><!--end of landing page div-->