<div class="sign-setup">
	<h1> We Would Love To Have You Join Our Wiki</h1>
		<div class="sign-up-container">
		<form action="/users" method="POST">
			<ul id="sign-up-form">
				<li>
					<label for="f-name">First Name:</label>
					<input id="f-name" type="text" name="f_name">
				</li>
				<li>
					<label for="l-name">Last Name:</label>
					<input id="l-name" type="text" name="l_name">
				</li>
				<li>
					<label for="e-mail">E-Mail:</label>
					<input id="e-mail" type="text" name="e_mail">
				</li>
				<li>
					<label for="user-name">User Name:</label>
					<input id="user-name" type="text" name="user_name">
				</li>
				<li>
					<label for="password">Password:</label>
					<input id="password" type="password" name="password">
				</li>
			</ul>
			<input id="sign-up-button" type="submit" value="Sign Up!">
		</form>
	</div><!--end div join-form-->
	<img id="side-image" src="http://www.alzmass.org/rtrblog/wp-content/uploads/2015/03/Nutrition-Matters-Pages_0092.jpg">
</div><!--end div sign-setup-->


