<h1> We Would Love To Have You Join Our Forum</h1>
<form action="/users" method="POST">
<label for="f-name">First Name:</label>
<input id="f-name" type="text" name="f_name">
<label for="l-name">Last Name:</label>
<input id="l-name" type="text" name="l_name">
<label for="e-mail">E-Mail:</label>
<input id="e-mail" type="text" name="e_mail">
<label for="user-name">User Name:</label>
<input id="user-name" type="text" name="user_name">
<label for="password">Password:</label>
<input id="password" type="password" name="password">
<input type="submit" value="Sign Up!">
</form>

